@use "../variables" as *;

.blog{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: 100vh;
    h1 {
        color: var(--font-color);
        font-size: 2rem;
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}