@use "../variables" as *;

.navbar {
    padding-top: 1rem;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px; 
        margin: 0 auto; 
        padding: 0 2rem; 
    }

    &__logo {
        width: 50px;
        height: 50px;
        border-radius: 9999px;
        object-fit: cover;
        border: 1px solid var(--secondary-color);
        &:hover {
            cursor: pointer;
        }
    }

    &__links, &__settings {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        gap: 1rem;
        border: 1px solid var(--secondary-color);
        border-radius: 9999px;
        background-color: var(--opacity-color);
        backdrop-filter: blur(2.5px);
        height: 50px;
        min-height: 50px;
    }

    &__links {    
        width: 23rem;
        &--link {
            text-decoration: none;
            color: var(--font-color);
            font-weight: $font-bold;
            transition: color 0.3s ease;
            &:hover {
                color: var(--tertiary-color);
            }
        }
    }

    &__settings {
        width: 6rem;
        button {
            border: none;
            background-color: transparent;
            color: var(--font-color);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9999px; 
            width: 40px; 
            height: 40px; 
            transition: background-color 0.3s ease;
            font-weight: $font-bold;
            &:hover {
                background-color: var(--primary-color); 
            }
        }
    }
}