@use "../variables" as *;
.projects{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    height: fit-content; 
    h1{
        color: var(--font-color);
        font-size: 2rem;
    }
    &__project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    
}