@use "../variables" as *;
.projects{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: 100vh; 
    h1{
        color: var(--font-color);
        font-size: 2rem;
    }
    &__project{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    
}