@use "../variables" as *;

.techstack{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__title{
        color: var(--secondary-color);
    }
    &__icons{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    hr {
        border: none;
        border-top: 1.5px solid var(--secondary-color);
        margin: 1em 0;
    }
}