@use "./components/navbar" as *;
@use "./components/footer" as *;
@use "./components/home" as *;
@use "./components/aboutMe" as *;
@use "./components/experience" as *;
@use "./components/techstack" as *;
@use "./components/projects" as *;
@use "./components/project" as *;
@use "./components/contact" as *;
@use "variables" as *;

body {
    margin: 1.5rem 3rem;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-primary;
    background-color: var(--background-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.app{
    width: 1200px;
}